{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Defalt Value
      {% endblock %}
    </title>
    {% tailwind_css %}
  </head>
  <body>
    <nav class="bg-black text-white p-4 text-2xl">Quora Navbar</nav>
    <form method="GET" action="{% url 'core:search' %}" class="flex w-full items-center">
      <input type="search" name="q" value="{{ request.GET.q|default:'' }}" placeholder="Search questions, users, or topics" class="w-full rounded-l-full border border-gray-300 px-4 py-2 outline-none focus:border-red-500" />

      <button type="submit" class="rounded-r-full bg-red-600 px-5 py-2 text-white hover:bg-red-700">Search</button>
    </form>
    {% if user.is_authenticated %}
      <span>Welcome, {{ user.profile.display_name }}</span>

      <a href="{% url 'core:home' %}">Home</a>

      <a href="{% url 'users:logout' %}">Logout</a>

      <a href="{% url 'users:profile' %}">Profile</a>
    {% else %}
      <a href="{% url 'users:login' %}">Login</a>

      <a href="{% url 'users:register' %}">Register</a>
    {% endif %}

    {% block content %}

    {% endblock %}
  </body>
</html>
